<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>employees</key>
	<array>
		<dict>
			<key>id</key>
			<string>0</string>
			<key>imageName</key>
			<string>Lisa</string>
			<key>name</key>
			<string>Lisa</string>
			<key>lastName</key>
			<string>Becker</string>
			<key>role</key>
			<string>HR</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>imageName</key>
			<string>Marco</string>
			<key>name</key>
			<string>Marco</string>
			<key>lastName</key>
			<string>Maddalena</string>
			<key>role</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>imageName</key>
			<string>Mauro</string>
			<key>name</key>
			<string>Mauro</string>
			<key>lastName</key>
			<string>Bianchelli</string>
			<key>role</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>imageName</key>
			<string>Tobi-Beker</string>
			<key>name</key>
			<string>Tobias</string>
			<key>lastName</key>
			<string>Becker</string>
			<key>role</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>imageName</key>
			<string>Yasmin</string>
			<key>name</key>
			<string>Yasmin</string>
			<key>lastName</key>
			<string>Diekmann</string>
			<key>role</key>
			<string>Management</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>imageName</key>
			<string>Matthew</string>
			<key>name</key>
			<string>Matthew</string>
			<key>lastName</key>
			<string>Korporaal</string>
			<key>role</key>
			<string>Developer</string>
		</dict>
	</array>
</dict>
</plist>
